{% extends 'layout/basic.html' %}

{% block masterhead-title %}Капитальное малоэтажное строительство деревянных каркасных домов{% endblock %}

{% block masterhead-content %}
<div class="container">
    <a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="{% url 'albums_list' %}">Наши работы</a>
</div>
{% endblock %}

{% block content %}
{% include 'components/_advantages.html' %}
{% include 'components/_our_partners.html' %}
{% include 'components/_contacts-call_me.html' %}
{% endblock %}