{% extends 'layout/basic.html' %}

{% load static %}

{% block title %}Наши работы :: {{ block.super }}{% endblock %}

{% block masterhead-title %}Создание альбома{% endblock %}

{% block masterhead-content %}
<form type="post" action="{% url 'album_create' %}">
    {% csrf_token %}
    <div class="input-group">
        <span class="input-group-text">Название:</span>
        <input class="form-control" type="text" name="title" />
        <button class="btn btn-primary" type="button">Создать</button>
    </div>
</form>
{% endblock %}

