{% extends 'layout/../../../templates/layout/basic.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/blueimp-gallery.min.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'assets/js/blueimp-gallery.min.js' %}"></script>
<script>
  document.getElementById('links').onclick = function (event) {
    event = event || window.event
    var target = event.target || event.srcElement
    var link = target.src ? target.parentNode : target
    var options = { index: link, event: event }
    var links = this.getElementsByTagName('a')
    blueimp.Gallery(links, options)
  }
</script>
{% endblock %}

{% block title %}{{ album.title }} :: Наши работы :: {{ block.super }}{% endblock %}

{% block masterhead-title %}{{ album.title }}{% endblock %}

{% block content %}
<div
  id="blueimp-gallery"
  class="blueimp-gallery blueimp-gallery-controls"
  aria-label="image gallery"
  aria-modal="true"
  role="dialog"
>
  <div class="slides" aria-live="polite"></div>
  <h3 class="title"></h3>
  <a
    class="prev"
    aria-controls="blueimp-gallery"
    aria-label="previous slide"
    aria-keyshortcuts="ArrowLeft"
  ></a>
  <a
    class="next"
    aria-controls="blueimp-gallery"
    aria-label="next slide"
    aria-keyshortcuts="ArrowRight"
  ></a>
  <a
    class="close"
    aria-controls="blueimp-gallery"
    aria-label="close"
    aria-keyshortcuts="Escape"
  ></a>
  <a
    class="play-pause"
    aria-controls="blueimp-gallery"
    aria-label="play slideshow"
    aria-keyshortcuts="Space"
    aria-pressed="false"
    role="button"
  ></a>
  <ol class="indicator"></ol>
</div>
<section>
    <div></div>
    <div class="row" style="margin: 0px;">
        <div class="col-10 offset-1 d-flex d-md-flex align-items-start align-items-md-start"><a href="{% url 'home' %}">Главная</a>
            <p style="margin: 0px 7px;">/</p><a href="{% url 'albums_list' %}">Фотогалерея</a>
            <p style="margin: 0px 7px;">/</p><a href="{% url 'album_detail' album.id album.slug %}">{{ album.title }}</a>
        </div>
    </div>
</section>
<section class="photo-gallery py-4 py-xl-5">
    <div class="container-fluid p-0">
        <div class="row g-0 mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="w-lg-50">{{ album.description }}</p>
            </div>
        </div>
        <div class="row g-0 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" id="links">
            {% for photo_item in album.photo_set.all %}
                <div class="col item"><a href="{{ photo_item.photo.url }}"><img class="img-fluid" src="{{ photo_item.photo.url }}"></a></div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}