{% load static %}

<section>
    <div class="container">
        <div class="card" style="margin-top: 12px;">
            <div class="card-body">
                <h4 class="card-title"><strong>Каркас - это основа дома!</strong></h4>
                <h6 class="text-muted card-subtitle mb-2"><strong>*после правильно выполненного фундамента</strong></h6>
                <p class="card-text">Каркасный дом испытывает множество видов нагрузок (ветровые и снеговые нагрузки, изгибающие и крутящие моменты, вес самого дома, мебель и утварь, и т.д.) - всё это напрямую влияет на прочность конструкции дома, надежность и сохранность материалов отделки дома, и в целом на безопасноть жизни его владельцев. Именно поэтому особое внимание мы уделяем правильно выполненному силовому каркасу.&nbsp;</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="{% static 'assets/img/01.jpg' %}" alt="О нас первое"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4"><strong>Вы по адресу!</strong></h2>
                    <p>Каждая технология по-своему хороша. И если Вы твёрдо решили построить себе крепкий, с грамотно проработанным конструктивом каркасный коттедж, дом или пристройку, то Вы по адресу!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5"><img class="rounded-circle img-fluid" src="{% static 'assets/img/02.jpg' %}" alt="О нас второе"/></div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <h2 class="display-4"><strong>Команда наших специалистов выполнит:</strong></h2>
                    <ul class="list-group">
                        <li class="list-group-item"><span>- возведение фундамента (монолитный/свайный)</span></li>
                        <li class="list-group-item"><span>- возведение качественного и крепкого силового деревянного каркаса дома в соответствии со СНиП. </span></li>
                        <li class="list-group-item"><span>- кровельные работы</span></li>
                        <li class="list-group-item"><span>- фасадные работы</span></li>
                        <li class="list-group-item"><span>- устройство коммуникаций (водоснабжение, канализация, отопление)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="{% static 'assets/img/03.jpg' %}" alt="О нас третье"/></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4"><strong>Фото наших работ скажут лучше</strong>!<br></h2><a class="btn btn-primary btn-lg" href="{% url 'albums_list' %}">Смотреть альбом</a>
                </div>
            </div>
        </div>
    </div>
</section>