<section class="text-center">
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Наши партнеры</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-xl-flex justify-content-xl-center">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-title" style="font-family: Lato, sans-serif;"><strong>ООО «Стройком37»</strong></h4>
                        <p class="card-text">Малоэтажное строительство домов под ключ<br />тел. 8 (960) 504 20 65<br />Валерий</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-title" style="font-family: Lato, sans-serif;"><strong>ООО &quot;Гидросистемы&quot;</strong><br /></h4>
                        <p class="card-text">Окна и двери Иваново<br />тел. 8 (930) 330 26 80<br /><a href="https://www.ivdveri.ru">www.ivdveri.ru</a><br /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>